.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >button {
        background-color: red;
        border: none;
        outline: none;
        cursor: pointer;
    }
}